{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <title>{% if title %}{{ title }}|lukespademan{% else %}lukespademan.com{% endif %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home:index' %}">lukespademan.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for link in nav_links %}            
            <li class="nav-item{% if link.href == request.path %} active {% endif %}">
                <a class="nav-link" href="{{ link.href }}">{{ link.text }}{% if link.href == request.path %}{% endif %}</a>
            </li>
            {% endfor %}
        
        </ul>
        <!--search bar-->
        <form class="form-inline my-2 my-lg-0" method="get" action="/search/">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search Blog" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> 
        </form>
        <ul class="navbar-nav justify-content-end">
            {% if can_post %}

                <div class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-primary my-2 my-sm-0" style="margin-left:4px;" href="{% url 'blog:post_new' %}">New Post</a>
                </div>
            {% endif %}

            {% if request.user.username %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            {% endif %}
            {% if request.user.is_staff == True %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Admin</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container-fluid">
{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>

