{% extends 'home/base.html' %}
{% load markdownify %}
{% load bleach_tags %}

{% block content %}
<h1>Welcome</h1>
<p>{{ welcome_msg | markdown | safe | bleach }}</p>


<h1>Recent Posts</h1>
<div class="container-fluid">
    <div class="row">
    {% for row in posts %}
    {% if row %}
    {% for post in row %}
        <div class="col-sm-6" style="margin-bottom: 8px;">
            {% include 'blog/post_preview.html' %}
        </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
